*{
    font-family: 'Noto sans';
}
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #B7D5D4;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#welhori, #h2-hr{
    background-color: #488286;
    height: 2px;
    border: none;
    width: 1000px;
}
#h2-hr{
    width: 500px;
}
#welcome{
    font-size: xxx-large;
    font-weight: bold;
    color: #373E40;
}
#welcomeparagraph{
    font-size: larger;
    padding: 0;
    color: #373E40;
}
.nav{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    background-color: #27afad;
    z-index: 10;
}
#nav-bar{
    display: block;
}
#list{
    font-size: x-large;
    font-weight: bold;
    display: flex;
    gap: 30px;
    list-style-type: none;
}
#nav-link:hover{
    background-color: #77878B;
    transition: ease-in-out 0.5s;
    border-radius: 10px;
}
li{
    text-decoration: none;
}
 #nav-link{
    padding: 10px;
    text-decoration: none;
    color: #305252;
}
#projects{
    background-color: #488286;
}
#intro-header{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: 49E981;
}
.grid{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    column-gap: 4rem;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.project-image{
    height: calc(100% - 1rem );
    width: 100% ;
    object-fit: cover;
}
#project-desc{
    background-color: #B7D5D4;
    text-align: center;
    margin-top: -20px;
    padding: 20px;
    border-radius: 0px 0px 10px 10px;
    font-weight: bold;
    font-size: x-large;
    color:  #305252;
}
#aboutpara{
    margin-left: 10px;
    font-weight: bold;

}