*{
    font-family: 'Noto sans';
}
body{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-color: #B7D5D4;
}
#welcome-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#welhori, #h2-hr{
    background-color: #488286;
    height: 2px;
    border: none;
    max-width: 1000px;
    width: 100%;
}
#h2-hr{
    width: 100%;
    max-width: 500px;
    background-color: black;
}
#welcome{
    font-size: xxx-large;
    font-weight: bold;
    color: #373E40;
}
#welcomeparagraph{
    font-size: larger;
    padding: 0;
    color: #373E40;
}
.nav{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    width: 100%;
    background-color: #27afad;
    z-index: 10;
}
#nav-bar{
    display: block;
}
#list{
    font-size: x-large;
    font-weight: bold;
    display: flex;
    gap: 30px;
    list-style-type: none;
}
#nav-link:hover{
    background-color: #77878B;
    transition: ease-in-out 0.5s;
    border-radius: 10px;
}
li{
    text-decoration: none;
}
 #nav-link{
    padding: 10px;
    text-decoration: none;
    color: #305252;
}
#projects{
    background-color: #488286;
}
#intro-header{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    color: 49E981;
}
.grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 5px;
    max-width: 1400px;
    width: 90%;
    margin: 0 auto;
    gap: 40px;
}
.project-image{
    height: 300px;
    max-width: 350px;
    width: 100% ;
    object-fit: cover;
    border-radius: 20px;
}
.project-desc{
    background-color: #B7D5D4;
    text-align: center;
    margin-top: -20px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    font-weight: bold;
    font-size: x-large;
    color:  #305252;
}
#aboutpara{
    margin-left: 10px;
    font-weight: bold;

}
.project-tile{
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px ;
}
/* Tablets */
@media (max-width: 900px) {

    #welcomeparagraph{
        font-size: 1.5rem;
    }
    #welcome{
        font-size: 2.5rem;
    }
    #welhori{
        width: 80%;
    }
    #list{
        font-size: 1.5rem;
        gap: 15px;
        padding: 10px;
    }
    #intro-header{
        font-size: 1.5rem;
    }
    .grid{
        width: 100%;
    }

}

/* Phones */
@media (max-width: 600px) {
        #welcomeparagraph{
        font-size: 1rem;
    }
    #welcome{
        font-size: 1.9rem;
    }
    #welhori{
        width: 70%;
    }
    #list{
        font-size: 1rem;
        gap: 15px;
        padding: 10px;
    }
    #intro-header{
        font-size: 0.9rem;
    }
}

/* Very small phones (iPhone SE, Android Mini) */
@media (max-width: 380px) {
    #welcomeparagraph{
        font-size: 1rem;
    }
    #welcome{
        font-size: 1.9rem;
    }
    #welhori{
        width: 60%;
    }
    #list{
        font-size: 0.5rem;
        gap: 5px;
        padding: 10px;
    }
    #intro-header{
        font-size: 0.9rem;
    }
}